.element__trash-button {
  position: absolute;
  top: 18px;
  right: 15px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  height: 19.3px;
  width: 18px;
  background: rgba(0, 0, 0, 0);
  background-image: url(../../../images/Trash.svg);
  border: none;
  object-fit: fill;
  outline: none;
  transition: .3s linear;
}

.element__trash-button:hover {
  opacity: .6;
}
